<div class="demo-wrapper">
<div class="page-container hide-list-menu demo-container full-height col-md-9 main-blk-1">
  <div class="page-content">
    <!--Topbar Start Here -->
    <header class="top-bar">
      <div class="container-fluid top-nav">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img src="../../assets/Images/logo.png" alt="">
          </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/login">REQUEST FOR DEMO</a></li>
            <li><a href="#">REGISTER</a></li>
            <li><a routerLink="/login">LOG IN </a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="main-container">
      <div class="container-fluid">
        <!-- You can use owl-carousel selector to include its component -->
      </div>
    </div>
    <!--Footer Start Here -->

  </div>
</div>
<div class="col-md-3 full-height main-blk-2">
  <div class="row">
    <div class="col-md-12 blk-1">
      <img src="../../assets/Images/result-analysis.png" class="responsive-img" alt="">
    </div>
    <div class="col-md-12 blk-2">
        <div class="play-wrap">
            <div class="title bold">PRODUCT VIDEOS</div>
            <!-- / .heading -->
            <div id="js-video-play-btn" class="video-play-btn" style="/* transform: matrix(1, 0, 0, 1, 0, 0); */"></div>  
        </div>
    </div>
  </div>
</div>
</div>