<br>
<br>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="box-widget widget-module">
      <div class="widget-head clearfix parent-head">
        <!-- <span class="h-icon"><i class="fa fa-bars"></i></span> -->
        <h2 class="text-center"><span class="s-bold"> Sri Vani Education Centre </span> </h2>
      </div>
      <div class="widget-container">
        <div class="widget-block">
          <div class="row">
            <div class="col-md-12 profile-data">
              <div class="row" style="display: flex;">
                <div class="col-md-4 g-s">
                  <div class="g-style">
                    SP
                  </div>
                </div>
                <div class="col-md-8 p-left">
                  <table class="table">
                    <tr>
                      <th> First Name </th>
                      <td> Sagar </td>
                    </tr>
                    <tr>
                      <th> Last Name </th>
                      <td> Bharadwaj </td>
                    </tr>
					<tr>
                      <th> Class </th>
                      <td> 7th A </td>
                    </tr>
                    <tr>
                      <th> Roll No </th>
                      <td> 14719 </td>
                    </tr>
					<tr>
                      <th style="width: 206px;"> Username </th>
                      <td> sagarb </td>
                    </tr>
					<tr>
                      <th> Email </th>
                      <td> sagar@gmail.com </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

            <div class="col-md-12 inf-block">
              <div class="row">
                <div class="col-md-4">
                  <div class="box-widget widget-module">
                    <div class="widget-head clearfix">
                      <!-- <span class="h-icon"><i class="fa fa-bars"></i></span> -->
                      <h4 class="text-center"> Announcements </h4>
                    </div>
                    <div class="widget-container">
                      <div class="widget-block">
                        <div class="w-user-list-item">
                          Ted Talk will be held at School Auditorium on December 25th at 4pm.
                        </div>
                        <div class="w-user-list-item">
                          Mid Term Examination for High School will commence from 1st January.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="box-widget widget-module">
                    <div class="widget-head clearfix">
                      <!-- <span class="h-icon"><i class="fa fa-bars"></i></span> -->
                      <h4> Achievements </h4>
                    </div>
                    <div class="widget-container">
                      <div class="widget-block">
                        <div class="w-user-list-item">
						 Basketball team has won the national level championship held at Odisha.Congratulations to the team!! 
                        </div>
                        <div class="w-user-list-item">
                          10th standard student Abhishek Naik has been selected for u16 Indian cricket team.Hearty Congratulations,make us proud!
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="box-widget widget-module">
                    <div class="widget-head clearfix">
                      <!-- <span class="h-icon"><i class="fa fa-bars"></i></span> -->
                      <h4> Quote </h4>
                    </div>
                    <div class="widget-container">
                      <div class="widget-block quote-blk">
                        "Education is the movement from darkness to light"-Upanishad
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>