<br>
<br>
<div class="row">
   <div class="col-md-8 col-md-offset-2">
      <div class="box-widget widget-module">
         <div class="widget-head clearfix">
            <span class="h-icon"><i class="fa fa-bars"></i></span>
            <h4> My Profile </h4>
         </div>
         <div class="widget-container">
            <div class="widget-block">
               <div class="row" style="display: flex;">
                  <div class="col-md-4 g-s">
                     <div class="g-style">
                        SP
                     </div>
                  </div>
                  <div class="col-md-8 p-left">
                     <table class="table">
                        <tr>
                           <th style="width: 206px;"> Username </th>
                           <td> Sagar </td>
                        </tr>
                        <tr>
                           <th> First Name </th>
                           <td> Sagar </td>
                        </tr>
                        <tr>
                           <th> Last Name </th>
                           <td> Patil </td>
                        </tr>
                        <tr>
                           <th> UID </th>
                           <td> AXD1241DER3SDS </td>
                        </tr>
                        <tr>
                           <th> Email </th>
                           <td> sagarpatil@mymail.com </td>
                        </tr>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>